{
  "plugins": [
    "@babel/plugin-transform-template-literals",
    "@babel/plugin-transform-modules-commonjs",
    "styled-jsx/babel"
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript",
    "babel-preset-minify"
  ],
  "comments": false
}
